.navbarlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #455a64;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbarli {
  float: left;
}

.navbarli a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbarli a:hover {
  background-color: #276681;
}
.logout a {
  padding-left: 2.5rem;
  position: absolute;
  right: 0;
}
#game-name {
  display: inline-block;
  color: white;
  padding-top: 5px;
  margin-right: 10rem;
  width: fit-content;
  font-size: 2rem;
}

#exit {
  width: 1.5rem;
  height: 1.2rem;
  position: absolute;
  right: 4.5rem;
}
