* {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Optima;
  font-size: 1.1rem;
}
.App {
  text-align: center;
  background-color: #607d8b;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

table {
  text-align: center;
}
thead {
  font-size: 30px;
}
H1 {
  margin-top: 80px;
}

button {
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 2em;
  border: none;
  color: #ffffff;
  background-color: #455a64;
  text-align: center;
  /* transition: all 0.2s; */
  width: 15vw;
}

button:hover {
  border: 2px solid white;
}

table {
  margin-right: auto;
  margin-left: auto;
}

#leaderboard {
  margin-top: 0px;
}
